@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Roboto', sans-serif;
}

.mask {
  mask: linear-gradient(90deg, white, white 80%, white 80%, transparent);
}

.scroll-container {
  scroll-snap-type: x mandatory;
  scrollbar-color: transparent transparent;
}

.scroll-container::-webkit-scrollbar {
  display: none;
  width: 5px;
}

.back-container.active {
  content: '';
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 50%;
  z-index: 20;
}

.back-container.active.hide {
  display: none;
}

.logo {
  position: relative;
}

.logo::after {
  content: 'ID';
  position: absolute;
  top: -10px;
  right: -18px;
  z-index: 1;
  background-color: transparent;
  padding: 2px 4px;
  font-size: 10px;
}
